In [1]:
# -*- coding: utf-8 -*-

# Importar librerias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import seaborn as sns
from matplotlib import rcParams

# Configuraciones
%matplotlib inline 
%pylab inline 

# Lectura de datos de peliculas
# movieTitles = pd.read_json('./netflixData/movieTitles.json', orient='columns')

# Mostrar Tabla de datos para datos de peliculas
# movieTitles.head()

Populating the interactive namespace from numpy and matplotlib

In [2]:
# Lectura de datos de entrenamiento
##trainingSet = pd.read_csv("./netflixData/training_set.csv", sep=',', 
##                  names = ["ID_MOVIE", "ID_USUARIO", "RANKING", "DATE"])
trainingSet = pd.read_csv("/home/fransafu/UTEM/Respaldo_merge_data/final_training_set.csv", sep=',', 
                  names = ["ID_PELICULA", "ID_USUARIO", "RANKING"], usecols=[0,1,2])

# Mostrar Tabla de datos para datos de entrenamientos
trainingSet.head()

   ID_PELICULA  ID_USUARIO  RANKING
0            1     1488844        3
1            1      822109        5
2            1      885013        4
3            1       30878        4
4            1      823519        3

In [3]:
# Lectura de datos de entrenamiento
##trainingSet = pd.read_csv("./netflixData/training_set.csv", sep=',', 
##                  names = ["ID_MOVIE", "ID_USUARIO", "RANKING", "DATE"])
movieData = pd.read_csv("./pyMongo_DataMining/peliculas_info3.csv", sep='#')

# Mostrar Tabla de datos para datos de entrenamientos
movieData.head()

,ACTOR_ID,ACTOR_GENERO,DIRECTOR_GENERO,DIRECTOR_ID,DIRECTOR_POPULARIDAD,TIEMPO,VOTO_PROMEDIO,PRESUPUESTO,POPULARIDAD_DETALLE,FECHA_PUBLICACION,VOTO_CONTADOR,INGRESOS,GENERO,ANIO,ID_PELICULA,POPULARIDAD,RATING_PROMEDIO
0,83291,0,2,2224,"2,433044",194,"7,0",0,"0,084188",2003-12-14,"1,0","0,0",99,2003,1,"1,115168","3,74954296161"
1,567257,0,0,590956,2e-06,170,"6,3",0,"0,325164",2004-11-16,"3,0","0,0",99,2004,5,"1,083446","3,91929824561"
2,89914,2,2,82388,"0,666791",87,"6,6",0,"1,641251",1947-04-04,"13,0","0,0",35,1947,12,"1,854692","3,41758241758"
3,79469,0,2,69669,"0,008334",60,"0,0",0,"0,000579",1988-06-30,"0,0","0,0",99,1988,15,"1,082002","3,28620689655"
4,5045,2,2,27811,"2,996912",108,"6,1",20000000,"9,746645",1995-09-08,"156,0","5781885,0",27,1996,16,"16,052319","3,09855502038"

In [4]:
mergeDataInfo = pd.merge(movieData, trainingSet, on='ID_PELICULA')
mergeDataInfo.head()

,ACTOR_ID,ACTOR_GENERO,DIRECTOR_GENERO,DIRECTOR_ID,DIRECTOR_POPULARIDAD,TIEMPO,VOTO_PROMEDIO,PRESUPUESTO,POPULARIDAD_DETALLE,FECHA_PUBLICACION,VOTO_CONTADOR,INGRESOS,GENERO,ANIO,ID_PELICULA,POPULARIDAD,RATING_PROMEDIO,ID_USUARIO,RANKING
0,83291,0,2,2224,"2,433044",194,"7,0",0,"0,084188",2003-12-14,"1,0","0,0",99,2003,1,"1,115168","3,74954296161",1488844,3
1,83291,0,2,2224,"2,433044",194,"7,0",0,"0,084188",2003-12-14,"1,0","0,0",99,2003,1,"1,115168","3,74954296161",822109,5
2,83291,0,2,2224,"2,433044",194,"7,0",0,"0,084188",2003-12-14,"1,0","0,0",99,2003,1,"1,115168","3,74954296161",885013,4
3,83291,0,2,2224,"2,433044",194,"7,0",0,"0,084188",2003-12-14,"1,0","0,0",99,2003,1,"1,115168","3,74954296161",30878,4
4,83291,0,2,2224,"2,433044",194,"7,0",0,"0,084188",2003-12-14,"1,0","0,0",99,2003,1,"1,115168","3,74954296161",823519,3

In [5]:
# To csv
mergeDataInfo.to_csv("./merge.csv", sep='#', encoding='utf-8', index=False)